.box {
  text-align: center;
  font-size: 3em;
  font-family: "Fredoka", sans-serif;
  line-height: 5rem;
  margin: 0.5rem;
  width: 89.08px;
  height: 89.08px;
  background: transparent;
  border: 5.56757px solid #FFFFFF;
  border-radius: 30px;
}

.x {
  color: white;
  background: #0336FF;
}

.o {
  color: #FFDE03;
}

.box:hover {
  box-shadow: 0px 0px 15px #888888;
}
