.game-result {
    background-color: #0336FF;
    min-height: 100vh;
}

.game-result .game-over-text {
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 60px;
}

.game-result .top-img-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0336FF;
    border: 4px solid #FFFFFF;
    border-radius: 30px;
    width: 100%;
    padding: 20px 35px;
    margin-top: 50px;
}

.result-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result-box .vs {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.result-box .result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result-box .img-box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 138px;
    height: 162px;

    background: #0336FF;
    border: 4px solid #FFFFFF;
    border-radius: 30px;
}

.result .number {
    margin-top: 44px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 576px) {
    .result-box {
        flex-direction: column;
    }

    .result-box .result {
        position: relative;
    }

    .result-box .vs {
        margin-top: 40px;
    }

    .result-box .result .number {
        position: absolute;
        right: -50px;
    }

}