.game-container{
     background-color: #FF0266;
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.logo-box{
    position: absolute;
    top: 60px;
    left: 70px;
}

@media (max-width: 576px) {
    .logo-box{
        top: 20px;
        left: 20px;
    }
}