.reset-btn {
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 25px;
  padding: 5px 10px;
  margin: 2rem auto;
  display: block;
  transition: 0.2s all linear;
}

.reset-btn:hover {
  background-color: white;
  color: #FF0266;
}

.restart-btn{
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 25px;
  padding: 5px 10px;
  margin: 2rem auto;
  display: block;
  transition: 0.2s all linear;
}

.restart-btn:hover {
  background-color: white;
  color: #0336FF;
}
