.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5rem;
  background-color: transparent;
  margin: 3rem auto;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 0.5rem;
  font-weight: bold;
}

.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}

.o-score {
  color: #FFDE03;
  border-bottom: 5px solid #FFDE03;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.x-score {
  color: #0336FF;;
  border-bottom: 5px solid #0336FF;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.inactive {
  border-bottom: 5px solid transparent;
}
